.post {
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    padding: .8rem;
    margin-top: 1rem;
}

.post .owner {
    display: flex;
}

.post .profile-image-container {
    flex-grow: 1;
}

.post .profile {
    width: 30px;
    border-radius: 50%;
}

.post .identification {
    flex-grow: 50;
    display: flex;
    flex-direction: column;
}

.post .post-options {
    flex-grow: 1;
    padding: 4px;
    height: 15px;
    display: flex;
    justify-content: center;
}

.post .post-options svg {
    color: #a1a1a1;
}

.post .post-options svg:hover {
    cursor: pointer;
    opacity: .4;
}

.post .name {
    font-weight: 700;
}

.post .date {
    font-size: 10px;
    color: #d1d1d1;
    margin-top: 2px;
}

hr {
    border: solid .5px #f1f1f1;
}